.about-section {
  padding: 23px 24px 9px;

  @media screen and (min-width: $tablet) {
    padding: 36px 30px 40px;
  }

  @media screen and (min-width: $desctop) {
    padding: 45px 30px 30px;
  }

  &--page {
    padding: 23px 23px 6px;

    @media screen and (min-width: $tablet) {
      padding: 53px 30px 48px;
    }

    @media screen and (min-width: $desctop) {
      padding: 93px 30px 48px;
    }
  }

  &--form {
    padding: 28px 23px 15px;

    @media screen and (min-width: $tablet) {
      padding: 49px 23px 61px;
    }

    @media screen and (min-width: $desctop) {
      padding: 101px 23px 30px;
    }
  }
}

.about-section__text-block {
  text-align: center;

  @media screen and (min-width: $tablet) {
    max-width: 520px;
    margin: auto;
  }
}

.about-section__text {
  margin: 33px 0 0;

  @media screen and (min-width: $tablet) {
    margin: 30px 0 13px;

    br {
      display: block;
    }
  }

  &--form {
    @media screen and (min-width: $tablet) {
      margin: 36px 0 9px;
    }
  }
}

.about-section__title--page {
  @media screen and (min-width: $tablet) {
    font-size: 30px;
  }
}
