.about-section {
  padding: 20px 30px;
}

.about-section__text-block {
  text-align: center;

  @media screen and (min-width: $tablet) {
    max-width: 520px;
    margin: auto;
  }
}

.about-section__text {
  margin: 33px 0;
}
