.advantage {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantage__item {
  background-color: #eeeeee;
  padding: 17px 33px;
  box-sizing: border-box;
  text-align: center;

  &:first-child {
    padding: 25px 14px;
  }

  &:nth-last-child(1) {
    @media screen and (min-width: $tablet) {
      order: 6;
    }
  }

  &:nth-last-child(2) {
    @media screen and (min-width: $tablet) {
      order: 5;
    }
  }

  &:nth-last-child(3) {
    @media screen and (min-width: $tablet) {
      order: 4;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: 33.3333%;
  }

  &--accent {
    background: $blue;
    color: $white;
    padding: 34px 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:last-child {
      @media screen and (min-width: $tablet) {
        order: 3;
      }
    }
  }

  &--icons {
    text-align: left;
    padding: 21px 20px;

    @media screen and (min-width: $tablet) {
      flex-basis: 100%;
    }
  }
}

.advantage__item-title--white {
  color: $white;
}

.advantage__item-text {
  margin: 11px 0;
}

.advantage__icon {
  display: flex;
}

.advantage__icon-img {
  flex-basis: 40px;
  margin-right: 10px;
}

.advantage__icon-text {
  line-height: 21px;
  flex-basis: calc(100% - 50px);
  margin: 7px 0;
}

.advantage__icon-title {
  margin: 10px 0;
  text-align: left;
}

.advantage__item-img {
  @media screen and (min-width: $tablet) {
    flex-basis: 66.6666%;
  }

  &--last {
    @media screen and (min-width: $tablet) {
      order: 2;
    }
  }
}

.advantage__item-count {
  position: relative;
  display: inline-block;

  &:before {
    position: absolute;
    content: "—";
    left: -15px;
  }

  &:after {
    position: absolute;
    content: "—";
    right: -15px;
  }
}
