.advantage {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    background: url("../img/bg-triangle.svg") no-repeat center top;
    background-size: cover;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantage__item {
  background-color: $bg-light;
  padding: 15px 33px 24px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;

  &:first-child {
    padding: 67px 14px 36px;

    @media screen and (min-width: $tablet) {
      padding: 28px 29px 25px;
    }
  }

  &:nth-last-child(1) {
    @media screen and (min-width: $tablet) {
      order: 6;
    }
  }

  &:nth-last-child(2) {
    @media screen and (min-width: $tablet) {
      order: 5;
    }
  }

  &:nth-last-child(3) {
    @media screen and (min-width: $tablet) {
      order: 4;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: 33.3333%;
    padding: 32px 33px 47px;
  }

  &--accent {
    background: $blue;
    color: $white;
    padding: 34px 14px 27px;
    display: flex;
    flex-direction: column;
  }

  &--accent-last {
    @media screen and (min-width: $tablet) {
      order: 4;
    }
  }

  &--icons {
    text-align: left;
    padding: 21px 20px 24px;
    background-color: $white;

    @media screen and (min-width: $tablet) {
      flex-basis: 100%;
      display: flex;
      padding: 62px 4px 54px;
      align-items: flex-start;
    }
  }

  &--hr {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: calc(100% - 40px);
      height: 1px;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      background-color: $gray;

      @media screen and (min-width: $tablet) {
        display: none;
      }
    }
  }
}

.advantage__item-title {
  br {
    display: none;

    @media screen and (min-width: $tablet) {
      display: block;
    }
  }

  &--white {
    color: $white;
  }
}

.advantage__item-text {
  margin: 22px 0 0;

  @media screen and (min-width: $tablet) {
    margin: 33px 0 7px;
  }
}

.advantage__icon {
  display: flex;

  @media screen and (min-width: $tablet) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 33.3333%;

    &:first-child {
      order: 0;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:last-child {
      order: 1;
    }
  }
}

.advantage__icon-img {
  flex-basis: 40px;
  margin-right: 10px;

  svg {
    fill: $blue;

    @media screen and (min-width: $tablet) {
      width: 75px;
      height: 75px;
    }
  }
}

.advantage__icon-text {
  line-height: 21px;
  flex-basis: calc(100% - 50px);
  margin: 7px 0;

  @media screen and (min-width: $tablet) {
    margin: 18px 0 13px;
    max-width: 290px;
  }
}

.advantage__icon-title {
  margin: 10px 0;
  text-align: left;

  @media screen and (min-width: $tablet) {
    text-align: center;
  }
}

.advantage__item-img {
  height: 260px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (min-width: $tablet) {
    flex-basis: 66.6666%;
    height: 256px;
  }

  &--last {
    @media screen and (min-width: $tablet) {
      order: 3;
    }
  }
}
