.banner {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center center;
  background-size: cover;
  color: $white;
  padding: 89px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 54px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: url("../img/bg-intro-triangle-mobile.svg") no-repeat center bottom;
    left: 0;
    right: 0;
    bottom: 0;
    height: 57px;
    background-size: cover;

    @media screen and (min-width: $tablet) {
      background: url("../img/bg-intro-triangle-tablet.svg") no-repeat center bottom;
    }

    @media screen and (min-width: $desctop) {
      background: url("../img/bg-intro-triangle-desktop.svg") no-repeat center bottom;
    }
  }

  @media screen and (min-width: $tablet) {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat center center;
    background-size: cover;
    padding: 130px 20px 94px;
    margin-top: 0;
  }

  @media screen and (min-width: $desctop) {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat center center;
    background-size: cover;
    padding: 79px 20px 88px;
  }

  &--page {
    height: 79px;
    padding: 34px 46px 45px;

    @media screen and (min-width: $tablet) {
      padding: 96px 46px 115px;
    }

    @media screen and (min-width: $desctop) {
      padding: 101px 46px 120px;
    }
  }
}
