.footer {
  padding: 40px 30px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 62px;
  }

  @media screen and (min-width: $desctop) {
    padding: 42px 120px;
  }
}

.footer__hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
}

.footer-social {
  margin: 33px auto 41px;

  @media screen and (min-width: $tablet) {
    margin: auto;
  }
}

.footer-develop__block {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover svg {
    fill: $blue;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.footer-develop__text {
  font-size: 14px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
  margin-right: 10px;
}
