.footer {
  padding: 40px 30px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: $desctop) {
    padding: 40px 120px;
  }
}

.footer__hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: $black;
}

.footer-social {
  margin: 30px auto 45px;
}

.footer-develop__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-develop__text {
  font-size: 14px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
  margin-right: 10px;
}
