.header {
  background-color: $white;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 1px;
}

.header__logo {
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% - 1px);

  @media screen and (min-width: $tablet) {
    top: 0;
  }

  img {
    width: 100px;

    @media screen and (min-width: $tablet) {
      width: 180px;
    }
  }
}

.header__nav--nojs {
  order: -1;
}
