.interested {
  text-align: center;
}

.interested__wrap {
  padding: 12px 21px 48px;

  @media screen and (min-width: $tablet) {
    padding: 29px 0 62px;
    max-width: 458px;
    margin: 0 auto;
  }

  @media screen and (min-width: $desctop) {
    padding: 29px 0 66px;
  }
}

.interested__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $black;

  @media screen and (min-width: $tablet) {
    font-size: 30px;
    line-height: 26px;
  }
}

.interested__desc {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  margin: 24px 0;

  @media screen and (min-width: $tablet) {
    margin: 35px 0;
  }

  @media screen and (min-width: $desctop) {
    margin: 39px 0;
  }
}

.interested__map {
  width: 100%;
  height: 350px;
  background: url("../img/bg-map-mobile@1x.jpg") no-repeat center center;
  background-size: cover;

  @media screen and (min-width: $tablet) {
    background: url("../img/bg-map-tablet@1x.jpg") no-repeat center center;
    background-size: cover;
  }

  @media screen and (min-width: $desctop) {
    background: url("../img/bg-map-desktop@1x.jpg") no-repeat center center;
    background-size: cover;
  }
}

.interested__player {
  @media screen and (min-width: $tablet) {
    padding: 0 60px;
  }
}
