.player {
  padding-bottom: 102px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 40px;
  }

  @media screen and (min-width: $desctop) {
    padding-bottom: 85px;
    max-width: 800px;
    margin: auto;
  }
}

.player__video {
  height: 201px;
  width: 100%;
  background: url("../img/video-mobile@1x.jpg") no-repeat center center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background: url("../img/video-mobile@2x.jpg") no-repeat center center;
    background-size: cover;
  }

  @media screen and (min-width: $tablet) {
    background: url("../img/video-tablet@1x.jpg") no-repeat center center;
    background-size: cover;
    height: 500px;

    @media (min-resolution: 2dppx) {
      background: url("../img/video-tablet@2x.jpg") no-repeat center center;
      background-size: cover;
    }
  }

  @media screen and (min-width: $desctop) {
    background: url("../img/video-desktop@1x.jpg") no-repeat center center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/video-desktop@2x.jpg") no-repeat center center;
      background-size: cover;
    }
  }
}

.player__control {
  width: calc(100% - 40px);
  position: relative;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    width: 100%;
  }
}

.player__control-block {
  box-sizing: border-box;
  background-color: rgba($black, 0.6);
  height: 45px;
  position: absolute;
  top: -45px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 12px 14px 18px;

  @media screen and (min-width: $tablet) {
    height: 93px;
    top: -93px;
    padding: 20px 30px;
  }

  &--light {
    background-color: $light;
    height: 66px;
    top: 0;

    @media screen and (min-width: $tablet) {
      background: none;
      height: 93px;
      top: -93px;
    }
  }
}

.player__range-slider {
  width: 100%;
  height: 3px;
  background-color: rgba($white, 0.3);
  position: relative;

  @media screen and (min-width: $tablet) {
    width: calc(100% - 186px);
    margin: 0 auto 0 55px;
  }
}

.player__btn-range {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $white;
  border: 0;
  top: -3px;
  left: 40px;
  padding: 0;

  @media screen and (min-width: $tablet) {
    top: -4px;
    left: 120px;
  }
}

.player__btn {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &--quality {
    flex-grow: 1;
    text-align: right;
    margin: 0 12px;

    @media screen and (min-width: $tablet) {
      margin: 0 12px;
    }
  }

  svg {
    fill: $player-btn;

    @media screen and (min-width: $tablet) {
      fill: $white;
    }
  }

  &:hover svg {
    fill: $dark;
  }

  &:active svg {
    fill: rgba($dark, 0.3);
  }

  @media screen and (min-width: $tablet) {
    &:hover svg {
      fill: rgba($white, 0.6);
    }

    &:active svg {
      fill: rgba($white, 0.3);
    }
  }
}
