.page {
  font-family: $font, 'Arial', sans-serif;
  color: $text-color;
  font-size: 14px;
}

.title {
  font-size: 18px;
  color: $title-color;
  text-transform: uppercase;
}

.text {
  text-transform: uppercase;
}
