.page {
  font-family: $font;
  color: $text-color;
  font-size: 14px;
}

.title {
  font-size: 18px;
  color: $title-color;
  text-transform: uppercase;
  font-weight: bold;
}

.text {
  text-transform: uppercase;
}
