body {
  min-width: 320px;
}

.page {
  font-family: $font;
  color: $dark;
  font-size: 14px;
}

.title {
  font-size: 18px;
  color: $black;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.text {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
}
