$font: "PT Sans", "Arial", sans-serif;
$blue: #81b3d2;
$blue-hover: #669ec0;
$blue-active: #5496bd;
$disabled: #e5e5e5;
$dark: #333333;
$black: #000000;
$white: #ffffff;
$light: #f2f2f2;
$light-gray : #dbdbdb;
$gray: #d6d6d6;
$tablet: 768px;
$desctop: 1200px;
